<div class="w-full">
    <img src="./img/PizzaIndex.jpeg"
    alt="Imagen papas ameri's"
    class=" w-[570px] h-[855px] rounded-b-xl hover:shadow-2xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110  hover:shadow-black hover:opacity-85 "
    >
</div>