---
import MenuItem from "./MenuItem.astro";
const ITEMS = [
    {
        name: "Bruschetta (2 unidades)",
        description:"Pan de masa madre, tomate, albahaca, ajo, aceite de oliva",
        euro: "€",
        price: 4,
        image: "https://cdn.pixabay.com/photo/2020/10/01/22/39/gourmet-5619887_1280.jpg",
      
    
    },
    {
        name: "Patatas Bravas",
        description:"Patatas, salsa brava de la casa",
        euro: "€",
        price: 5,
        image: "https://lh3.googleusercontent.com/p/AF1QipP5McrGD_COQxAGhzosGKG3EYXq_rUB7CpKfScS=s680-w680-h510"
    
    },
    {
        name: "Nachos",
        description: "Nachos, queso cheddar, guacamole, pico de gallo, jalapeños",
        euro: "€",
        price: 6,
    
    },
    {
        name: "Patatas Ameri's",
        description: "Nuestras patatas con salsa de queso cheddar, bacon y cebollín",
        euro: "€",
        price: 7,
  
    },
    {
        name: "Alitas de Pollo",
        description: "Alitas de pollo, salsa barbacoa",
        euro: "€",
        price: 7,
     
    },
    {
        name: "Parmigiana",
        description: "Berenjena, tomate, mozzarella, parmesano, albahaca",
        euro: "€",
        price: 8.50,
        Image: "https://cdn.pixabay.com/photo/2020/07/23/12/41/delicious-5431267_640.jpg",
      
    },
    {
        name: "Tapa de Chorizo criollo",
        description: "Chorizo criollo en rodajas, acompañados con la salsa criolla y chimichurri, pan y patatas",
        euro:   "€",
        price: 9,
        image: undefined
    },
      
]
---
{
    
        ITEMS.map((item) =>(
            <div  class="border bg-emerald-950/70 p-4 gap-x-5 rounded-xl hover:shadow-xl hover:opacity-75  hover:shadow-black cursor-pointer ">
                <MenuItem {...item} />
            </div>
        ))
    
}

