---
interface Props {
	title: string;
}
import '@fontsource-variable/crimson-pro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'libre baskerville', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		background: #05360d;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #043f16, #00000038);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #034621, #00000036); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		font-family: 'Crimson Pro Variable', serif;

	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: smooth;
		}
}

</style>
